{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ case.code }}</h2>
                <p class="text-secondary">{{ case.comment }}</p>
            </div>
        </div>

        {% for case_image in case.images %}

            <div class="wm-zoom-container my-zoom-1">
                <div class="wm-zoom-box">
                    <img id="zoomed_image"
                         src="{{ url_for('static', filename='cases/' + case_image) }} "
                         class="wm-zoom-default-img" alt="alternative text"
                         data-hight-src="{{ url_for('static', filename='cases/' + case_image) }} "
                         class="wm-zoom-default-img" data-loader-src="img/loader.gif">
                </div>
            </div>

        {% endfor %}

    </div>



    {#    <form method="POST" action="" enctype="multipart/form-data">#}
    {#        {{ form.hidden_tag() }}#}
    {#        <fieldset class="form-group">#}
    {##}
    {#            <div class="form-group">#}
    {#                {{ form.files.label() }}#}
    {#                {{ form.files(class="form-control-file") }}#}
    {#                {% if form.files.errors %}#}
    {#                    {% for error in form.files.errors %}#}
    {#                        <span class="text-danger">{{ error }}</span></br>#}
    {#                    {% endfor %}#}
    {#                {% endif %}#}
    {#            </div>#}
    {##}
    {#            <div class="form-group">#}
    {#                {{ form.comment.label(class="form-control-label") }}#}
    {#                {% if form.comment.errors %}#}
    {#                    {{ form.comment(class="form-control form-control-lg is-invalid") }}#}
    {#                    <div class="invalid-feedback">#}
    {#                        {% for error in form.comment.errors %}#}
    {#                            <span>{{ error }}</span>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                {% else %}#}
    {#                    {{ form.comment(class="form-control form-control-lg") }}#}
    {#                {% endif %}#}
    {#            </div>#}
    {##}
    {#        </fieldset>#}
    {#        <div class="form-group">#}
    {#            {{ form.submit(class="btn btn-outline-info") }}#}
    {#        </div>#}
    {#    </form>#}




{% endblock content %}
